In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

%matplotlib inline

In [2]:
users=pd.read_csv('data_preprocessed.csv')

C:\Users\Asyariati\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
users.drop('Unnamed: 0',axis=1,inplace=True)

In [4]:
users.head()

,id,country_destination,age_group,day_account_created,weekday_account_created,week_account_created,month_account_created,year_account_created,hours_account_created,day_first_active,...,most_used_device_Chromebook,most_used_device_Linux Desktop,most_used_device_Mac Desktop,most_used_device_Opera Phone,most_used_device_Tablet,most_used_device_Windows Desktop,most_used_device_Windows Phone,most_used_device_iPad Tablet,most_used_device_iPhone,most_used_device_iPodtouch
0,gxn3p5htnn,NDF,0,28,0,26,6,2010,0,19,...,0,0,0,0,0,0,0,0,0,0
1,820tgsjxq7,NDF,4,25,2,21,5,2011,0,23,...,0,0,0,0,0,0,0,0,0,0
2,4ft3gnwmtx,US,6,28,1,39,9,2010,0,9,...,0,0,0,0,0,0,0,0,0,0
3,bjjt8pjhuk,other,5,5,0,49,12,2011,0,31,...,0,0,0,0,0,0,0,0,0,0
4,87mebub9p4,US,5,14,1,37,9,2010,0,8,...,0,0,0,0,0,0,0,0,0,0

In [5]:
colx = users.columns.tolist()
rm_list = ['id','country_destination']
for x in rm_list:
    colx.remove(x)
X = users[~(users['country_destination'].isnull())][colx]
X.fillna(0,inplace=True)

from sklearn.feature_selection import VarianceThreshold
sel = VarianceThreshold(threshold=(0.8))
sel.fit_transform(X)
idxs = sel.get_support(indices=True)
colo = [X.columns.tolist()[i] for i in idxs]
print ('\n'.join(colo))
for y in rm_list:
    colo.append(y)

age_group
day_account_created
weekday_account_created
week_account_created
month_account_created
year_account_created
day_first_active
weekday_first_active
week_first_active
month_first_active
year_first_active
hours_first_active
time_lag
action
-unknown-_count
click_count
data_count
message_post_count
submit_count
view_count
-unknown-_sum
booking_request_sum
booking_response_sum
click_sum
data_sum
message_post_sum
partner_callback_sum
submit_sum
view_sum
-unknown-_pct
booking_request_pct
click_pct
data_pct
message_post_pct
submit_pct
view_pct
action_detail
secs_elapsed_sum
secs_elapsed_mean
secs_elapsed_min
secs_elapsed_max
secs_elapsed_median
secs_elapsed_std
secs_elapsed_var
day_pauses
long_pauses
short_pauses
session_length

In [6]:
len(colo)

50

In [7]:
categorical_features = [
    'gender', 'signup_method', 'signup_flow', 'language',
    'affiliate_channel', 'affiliate_provider', 'first_affiliate_tracked',
    'signup_app', 'first_device_type', 'first_browser', 'most_used_device']

In [8]:
categorical_features_1 = [val for val in categorical_features if val in colo]
users_encode = pd.get_dummies(users[colo], columns=categorical_features_1)
users_encode.to_csv('users_data_feature.csv')

#### Model Building

In [10]:
users = users_encode
users.set_index('id',inplace=True)

In [11]:
from sklearn.model_selection import train_test_split

colx = users.columns.tolist()

rm_list = ['country_destination']

for x in rm_list:
    colx.remove(x)
    
X_1 = users[(users['country_destination'].isnull())][colx]
X_1.fillna(0,inplace=True)

X = users[~(users['country_destination'].isnull())][colx]
X.fillna(0,inplace=True)

y = users[~(users['country_destination'].isnull())]['country_destination']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42,stratify=y)

In [56]:
X_1.to_csv('test_set.csv')

In [58]:
pd.read_csv('test_set.csv').head()

,id,age_group,day_account_created,weekday_account_created,week_account_created,month_account_created,year_account_created,day_first_active,weekday_first_active,week_first_active,...,secs_elapsed_mean,secs_elapsed_min,secs_elapsed_max,secs_elapsed_median,secs_elapsed_std,secs_elapsed_var,day_pauses,long_pauses,short_pauses,session_length
0,5uwns89zht,4,1,1,27,7,2014,1,1,27,...,17026.714286,79.0,64883.0,2940.0,24104.681093,5.810357e+08,0.0,0.0,4.0,8.0
1,jtl0dijy2j,0,1,1,27,7,2014,1,1,27,...,13895.500000,95.0,61881.0,3342.5,18953.220183,3.592246e+08,0.0,0.0,10.0,19.0
2,xx0ulgorjt,0,1,1,27,7,2014,1,1,27,...,17115.350877,280.0,270618.0,10758.0,37259.885170,1.388299e+09,1.0,0.0,24.0,58.0
3,6c6puo6ix0,0,1,1,27,7,2014,1,1,27,...,12300.100000,5.0,106481.0,233.5,33347.363329,1.112047e+09,1.0,0.0,8.0,11.0
4,czqhjk3yfe,0,1,1,27,7,2014,1,1,27,...,25223.500000,0.0,219369.0,1170.0,56569.579369,3.200117e+09,2.0,0.0,12.0,18.0

In [15]:
from lightgbm import LGBMClassifier

lgbm=LGBMClassifier(random_state=101)
lgbm.fit(X_train,y_train)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=101, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [16]:
y_pred=lgbm.predict(X_test)
pd.crosstab(y_test, y_pred, rownames=['Actual Destination'], colnames=['Predicted Destination'])

Predicted Destination  AU  ES  FR    NDF  NL  PT    US  other
Actual Destination
AU                      0   0   0    126   0   0    36      0
CA                      0   0   0    303   0   0   125      0
DE                      0   0   0    249   0   0    69      0
ES                      0   0   0    513   0   0   162      0
FR                      0   0   0   1160   1   0   346      0
GB                      0   0   0    521   0   0   176      0
IT                      0   0   0    658   0   0   193      0
NDF                     0   0   0  34127   0   2  3234      0
NL                      0   0   0    165   0   0    64      0
PT                      0   0   0     49   0   0    16      0
US                      1   1   0  13541   2   1  5165      2
other                   0   0   1   2264   0   0   762      1

In [17]:
def dcg_at_k(r, k, method=1):
    r = np.asfarray(r)[:k]
    return np.sum(r / np.log2(np.arange(2, len(r) + 2)))


def ndcg_at_k(r, k=5, method=1):
    dcg_max = dcg_at_k(sorted(r, reverse=True), k, method)
    return dcg_at_k(r, k, method) / dcg_max


def score_predictions(preds, truth,model):
    truth=truth.tolist()
    
    sorted_asli=[]
    for i in np.argsort(preds):
        sorted_asli.append(i[::-1].tolist())
    
    pred=pd.DataFrame(np.take(model.classes_,sorted_asli).tolist())
        
    """
    preds: pd.DataFrame
      one row for each observation, one column for each prediction.
      Columns are sorted from left to right descending in order of likelihood.
    truth: pd.Series
      one row for each obeservation.
    """
    r = pd.DataFrame(0, index=pred.index, columns=pred.columns, dtype=np.float64)
    for col in pred.columns:
        r[col] = (pred[col] == truth)

    score = pd.Series(r.apply(ndcg_at_k, axis=1, reduce=True), name='score')
    return score

In [18]:
y_pred_prob=lgbm.predict_proba(X_test)
print('nDCG:' + str(score_predictions(y_pred_prob,y_test,lgbm).mean()))

C:\Users\Asyariati\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: FutureWarning: The reduce argument is deprecated and will be removed in a future version. You can specify result_type='reduce' to try to reduce the result to the original dimensions

nDCG:0.8174522635411616

In [19]:
y_pred_prob_1=lgbm.predict_proba(X_1)
id_test = X_1.reset_index()['id']
ids = []  #list of ids
cts = []  #list of countries
for i in range(len(id_test)):
    idx = id_test[i]
    ids += [idx] * 5
    arr = [lgbm.classes_.tolist()[k] for k in np.argsort(y_pred_prob_1[i])[::-1]] 
    cts += arr[:5]

#Generate submission
sub = pd.DataFrame(np.column_stack((ids, cts)), columns=['id', 'country'])
sub.to_csv('sub_lgbm.csv',index=False)

In [33]:
[lgbm.classes_.tolist()[k] for k in np.argsort(y_pred_prob_1[879])[::-1]][:5]

['NDF', 'US', 'other', 'FR', 'IT']

#### Cross validation

In [20]:
from sklearn.model_selection import KFold
k=5
kf=KFold(n_splits=k,shuffle=True,random_state=101)

In [21]:
from sklearn.metrics import accuracy_score

In [22]:
def calc_train_error(X_train,y_train,model):
    preds=model.predict(X_train)
    predictProba=model.predict_proba(X_train)
    accuracy=accuracy_score(y_train,preds)
    ndcg=score_predictions(predictProba,y_train,model).mean()
    return {
        'accuracy':accuracy,
        'ndcg':ndcg
    }

def calc_validation_error(X_test,y_test,model):
    preds=model.predict(X_test)
    predictProba=model.predict_proba(X_test)
    accuracy=accuracy_score(y_test,preds)
    ndcg=score_predictions(predictProba,y_test,model).mean()
    return {
        'accuracy':accuracy,
        'ndcg':ndcg
    }

def calc_metrics(X_train, y_train, X_test,y_test,model):
    model.fit(X_train,y_train)
    train_error=calc_train_error(X_train,y_train,model)
    validation_error=calc_validation_error(X_test,y_test,model)
    return train_error,validation_error

In [23]:
train_errors=[]
validation_errors=[]
for train_index,val_index in kf.split(X,y):
    
    X_train,X_val=X.iloc[train_index],X.iloc[val_index]
    y_train,y_val=y.iloc[train_index],y.iloc[val_index]
    
    
    train_error,val_error=calc_metrics(X_train,y_train,X_val,y_val,lgbm)
    
    train_errors.append(train_error)
    validation_errors.append(val_error)

C:\Users\Asyariati\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: FutureWarning: The reduce argument is deprecated and will be removed in a future version. You can specify result_type='reduce' to try to reduce the result to the original dimensions

In [24]:
iterasi=[]
for i,j in zip(train_errors,validation_errors):
    iterasi.append([i['accuracy'],j['accuracy'],i['ndcg'],j['ndcg']])

index=['Iterasi {}'.format(i) for i in range(1,k+1,1)]
col=['train_acc','val_acc','train_nDCG','val_nDCG']

calc_matrix=pd.DataFrame(iterasi,index=index,columns=col)

average=[]
for i in calc_matrix.columns:
    average.append(calc_matrix[i].mean())

std=[]
for i in calc_matrix.columns:
    std.append(calc_matrix[i].std())

calc_matrix.loc['Average']=average
calc_matrix.loc['Deviation']=std
calc_matrix

           train_acc   val_acc  train_nDCG  val_nDCG
Iterasi 1   0.627624  0.611511    0.833677  0.816649
Iterasi 2   0.626513  0.615273    0.833234  0.817615
Iterasi 3   0.627081  0.612579    0.833481  0.816600
Iterasi 4   0.625892  0.612462    0.833100  0.816703
Iterasi 5   0.625723  0.618927    0.832677  0.820839
Average     0.626567  0.614150    0.833234  0.817681
Deviation   0.000799  0.003015    0.000383  0.001814

#### Learning Curve

In [49]:
from sklearn.model_selection import learning_curve

train_sizes, train_scores, test_scores = learning_curve(estimator=lgbm,
                                                       X=X,
                                                       y=y,
                                                       train_sizes=np.linspace(0.5, 1.0, 5),
                                                       cv=5)
# Mean value of accuracy against training data
train_mean = np.mean(train_scores, axis=1)

# Standard deviation of training accuracy per number of training samples
train_std = np.std(train_scores, axis=1)

# Same as above for test data
test_mean = np.mean(test_scores, axis=1)
test_std = np.std(test_scores, axis=1)

# Plot training accuracies 
plt.plot(train_sizes, train_mean, color='red', marker='o', label='Training Accuracy')
# Plot the variance of training accuracies
plt.fill_between(train_sizes,
                train_mean + train_std,
                train_mean - train_std,
                alpha=0.15, color='red')

# Plot for test data as training data
plt.plot(train_sizes, test_mean, color='blue', linestyle='--', marker='s', 
        label='Test Accuracy')
plt.fill_between(train_sizes,
                test_mean + test_std,
                test_mean - test_std,
                alpha=0.15, color='blue')

plt.xlabel('Number of training samples')
plt.ylabel('Accuracy')
plt.legend()
plt.show()

C:\Users\Asyariati\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: FutureWarning: The reduce argument is deprecated and will be removed in a future version. You can specify result_type='reduce' to try to reduce the result to the original dimensions

ValueError: For evaluating multiple scores, use sklearn.model_selection.cross_validate instead. 0         1.000000
1         0.630930
2         1.000000
3         0.430677
4         1.000000
5         0.630930
6         1.000000
7         1.000000
8         1.000000
9         1.000000
10        1.000000
11        0.630930
12        0.500000
13        1.000000
14        0.630930
15        0.430677
16        1.000000
17        1.000000
18        1.000000
19        0.500000
20        0.630930
21        1.000000
22        1.000000
23        1.000000
24        0.630930
25        0.500000
26        1.000000
27        1.000000
28        0.500000
29        1.000000
            ...
213421    1.000000
213422    1.000000
213423    1.000000
213424    1.000000
213425    1.000000
213426    1.000000
213427    1.000000
213428    1.000000
213429    1.000000
213430    1.000000
213431    1.000000
213432    1.000000
213433    1.000000
213434    1.000000
213435    1.000000
213436    1.000000
213437    1.000000
213438    1.000000
213439    0.630930
213440    1.000000
213441    0.386853
213442    1.000000
213443    1.000000
213444    1.000000
213445    0.630930
213446    1.000000
213447    1.000000
213448    1.000000
213449    1.000000
213450    1.000000
Name: score, Length: 213451, dtype: float64 was passed.

In [34]:
import pickle
pickle.dump(lgbm,open('airbnb_recom.sav','wb'))

In [37]:
loadModel = pickle.load(open('airbnb_recom.sav', 'rb'))

In [44]:
loadModel.classes_

array(['AU', 'CA', 'DE', 'ES', 'FR', 'GB', 'IT', 'NDF', 'NL', 'PT', 'US',
       'other'], dtype=object)

In [49]:
pred_probs=loadModel.predict_proba(np.array(X_1.iloc[0,:]).reshape(1,-1))

In [51]:
pred_probs

array([[7.51912927e-03, 3.98774834e-03, 3.39952587e-03, 6.32360585e-03,
        2.03623580e-02, 8.73350310e-03, 2.90903791e-02, 5.43140085e-01,
        1.68074039e-03, 1.15653068e-04, 3.23871953e-01, 5.17753187e-02]])

In [60]:
iseng=pd.read_csv('test_set.csv')

In [64]:
iseng=iseng.set_index('id')

In [65]:
iseng.head()

,age_group,day_account_created,weekday_account_created,week_account_created,month_account_created,year_account_created,day_first_active,weekday_first_active,week_first_active,month_first_active,...,secs_elapsed_mean,secs_elapsed_min,secs_elapsed_max,secs_elapsed_median,secs_elapsed_std,secs_elapsed_var,day_pauses,long_pauses,short_pauses,session_length
id,,,,,,,,,,,,,,,,,,,,,
5uwns89zht,4,1,1,27,7,2014,1,1,27,7,...,17026.714286,79.0,64883.0,2940.0,24104.681093,5.810357e+08,0.0,0.0,4.0,8.0
jtl0dijy2j,0,1,1,27,7,2014,1,1,27,7,...,13895.500000,95.0,61881.0,3342.5,18953.220183,3.592246e+08,0.0,0.0,10.0,19.0
xx0ulgorjt,0,1,1,27,7,2014,1,1,27,7,...,17115.350877,280.0,270618.0,10758.0,37259.885170,1.388299e+09,1.0,0.0,24.0,58.0
6c6puo6ix0,0,1,1,27,7,2014,1,1,27,7,...,12300.100000,5.0,106481.0,233.5,33347.363329,1.112047e+09,1.0,0.0,8.0,11.0
czqhjk3yfe,0,1,1,27,7,2014,1,1,27,7,...,25223.500000,0.0,219369.0,1170.0,56569.579369,3.200117e+09,2.0,0.0,12.0,18.0

In [66]:
iseng[iseng.index=='5uwns89zht']

,age_group,day_account_created,weekday_account_created,week_account_created,month_account_created,year_account_created,day_first_active,weekday_first_active,week_first_active,month_first_active,...,secs_elapsed_mean,secs_elapsed_min,secs_elapsed_max,secs_elapsed_median,secs_elapsed_std,secs_elapsed_var,day_pauses,long_pauses,short_pauses,session_length
id,,,,,,,,,,,,,,,,,,,,,
5uwns89zht,4,1,1,27,7,2014,1,1,27,7,...,17026.714286,79.0,64883.0,2940.0,24104.681093,5.810357e+08,0.0,0.0,4.0,8.0

In [71]:
loadModel.predict_proba(np.array(iseng[iseng.index=='5uwns89zht'])).reshape(1,-1)

array([[7.51912927e-03, 3.98774834e-03, 3.39952587e-03, 6.32360585e-03,
        2.03623580e-02, 8.73350310e-03, 2.90903791e-02, 5.43140085e-01,
        1.68074039e-03, 1.15653068e-04, 3.23871953e-01, 5.17753187e-02]])

In [55]:
[loadModel.classes_.tolist()[k] for k in np.argsort(pred_probs[0])[::-1]][:5]

['NDF', 'US', 'other', 'IT', 'FR']

In [46]:
[lgbm.classes_.tolist()[k] for k in np.argsort(y_pred_prob_1[0])[::-1]][:5]

['NDF', 'US', 'other', 'FR', 'IT']

#### Optimization

from lightgbm import LGBMClassifier

lgbm=LGBMClassifier(objective='multiclass',random_state=101)

from sklearn.model_selection import GridSearchCV

param_grid= {'learning_rate':[.1,.2,.3,.4],
            'num_leaves':[31,46,63,91],
            'n_estimators':[100,200,300,400]}

searcher=GridSearchCV(estimator=lgbm,
                         param_grid=param_grid,
                         n_jobs=2,
                         scoring='f1_weighted',verbose=2,
                         cv=3)

searcher.fit(X_train,y_train)

y_conv = [searcher.best_estimator_.classes_.tolist().index(k) for k in y_test.tolist()]
y_pred_prob=searcher.best_estimator_.predict_proba(X_test)
print('nDCG:' + str(ndcg_score(y_conv,y_pred_prob)))
model_perf['lgbm_opt','nDCG'] = ndcg_score(y_conv,y_pred_prob)

#### Pred satuan

In [24]:
pred_probs=lgbm.predict_proba(X_1[X_1.index=='6c6puo6ix0'])

In [25]:
pred_probs

array([[2.35816895e-04, 1.25033273e-03, 1.00533716e-03, 1.74250222e-03,
        4.32770008e-03, 2.31312895e-03, 2.81643666e-03, 9.20452374e-01,
        6.98052255e-04, 1.21623087e-04, 5.31564209e-02, 1.18802754e-02]])

In [26]:
[lgbm.classes_.tolist()[i] for i in np.argsort(pred_probs)[0][::-1]][:5]

['NDF', 'US', 'other', 'FR', 'IT']

### Detail nDCG

In [27]:
import numpy as np
import pandas as pd

def dcg_at_k(r, k, method=1):
    r = np.asfarray(r)[:k]
    return np.sum(r / np.log2(np.arange(2, len(r) + 2)))


def ndcg_at_k(r, k=5, method=1):
    dcg_max = dcg_at_k(sorted(r, reverse=True), k, method)
    return dcg_at_k(r, k, method) / dcg_max


def score_predictions(preds, truth,model):
    truth=truth.tolist()
    
    sorted_asli=[]
    for i in np.argsort(preds):
        sorted_asli.append(i[::-1].tolist())
    
    pred=pd.DataFrame(np.take(model.classes_,sorted_asli).tolist())
        
    """
    preds: pd.DataFrame
      one row for each observation, one column for each prediction.
      Columns are sorted from left to right descending in order of likelihood.
    truth: pd.Series
      one row for each obeservation.
    """
    r = pd.DataFrame(0, index=pred.index, columns=pred.columns, dtype=np.float64)
    for col in pred.columns:
        r[col] = (pred[col] == truth)

    score = pd.Series(r.apply(ndcg_at_k, axis=1, reduce=True), name='score')
    return score

from sklearn.preprocessing import LabelBinarizer
from sklearn.metrics import make_scorer


def dcg_score(y_true, y_score, k=5):
    order = np.argsort(y_score)[::-1]
    y_true = np.take(y_true, order[:k])
    gain = 2 ** y_true - 1
    discounts = np.log2(np.arange(len(y_true)) + 2)
    return np.sum(gain / discounts)


def ndcg_score(ground_truth, predictions, k=5):
    lb = LabelBinarizer()
    lb.fit(range(predictions.shape[1]))
    T = lb.transform(ground_truth)

    scores = []
    for y_true, y_score in zip(T, predictions):
        actual = dcg_score(y_true, y_score, k)
        best = dcg_score(y_true, y_true, k)
        score = float(actual) / float(best)
        scores.append(score)

    return np.mean(scores)

model_perf={}

lb = LabelBinarizer()

lb.fit(range(lgbm.predict_proba(X_1[X_1.index=='6c6puo6ix0']).shape[1]))

lb.classes_

T=lb.transform(y_conv)

#### Actual (DCG)

T[0],np.argsort(lgbm.predict_proba(X_1[X_1.index=='5uwns89zht']))[0][::-1]

np.take(T[0],np.argsort(lgbm.predict_proba(X_1[X_1.index=='5uwns89zht']))[0][::-1])

Gain

(2 ** np.take(T[0],np.argsort(lgbm.predict_proba(X_1[X_1.index=='6c6puo6ix0']))[0][::-1][:5]) -1)

Discount factor

np.log2(np.arange(len(np.take(T[0],np.argsort(lgbm.predict_proba(X_1[X_1.index=='6c6puo6ix0']))[0][::-1][:5])))+2)

np.sum((2 ** np.take(T[0],np.argsort(lgbm.predict_proba(X_1[X_1.index=='6c6puo6ix0']))[0][::-1][:5]) -1)/np.log2(np.arange(len(np.take(T[0],np.argsort(lgbm.predict_proba(X_1[X_1.index=='6c6puo6ix0']))[0][::-1][:5])))+2))

#### Best (IDCG)

np.argsort(T[0])[::-1]

T[0],np.argsort(T[0])[::-1]

(2 ** np.take(T[0],np.argsort(T[0])[::-1][:5]) -1)

np.sum((2 ** np.take(T[0],np.argsort(T[0])[::-1][:5]) -1)/np.log2(np.arange(len(np.take(T[0],np.argsort(T[0])[::-1][:5]))) + 2))

#### nDCG

np.sum((2 ** np.take(T[0],np.argsort(lgbm.predict_proba(X_1[X_1.index=='6c6puo6ix0']))[0][::-1][:5]) -1)/np.log2(np.arange(len(np.take(T[0],np.argsort(lgbm.predict_proba(X_1[X_1.index=='6c6puo6ix0']))[0][::-1][:5])))+2)) / np.sum((2 ** np.take(T[0],np.argsort(T[0])[::-1][:5]) -1)/np.log2(np.arange(len(np.take(T[0],np.argsort(T[0])[::-1][:5]))) + 2))

### ----------------

from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
encoded_y_train = label_encoder.fit_transform(y_train)

import xgboost

train_data = xgboost.DMatrix(X_train, encoded_y_train)

def ndcg5_score(preds, dtrain):
    labels = dtrain.get_label()
    top = []

    for i in range(preds.shape[0]):
        top.append(np.argsort(preds[i])[::-1][:5])

    mat = np.reshape(np.repeat(labels,np.shape(top)[1]) == np.array(top).ravel(),np.array(top).shape).astype(int)
    score = np.mean(np.sum(mat/np.log2(np.arange(2, mat.shape[1] + 2)),axis = 1))
    return 'ndcg5', score

param = {
    'max_depth': 10,
    'learning_rate': 1,
    'n_estimators': 5,
    'objective': 'multi:softprob',
    'num_class': 12,
    'gamma': 0,
    'min_child_weight': 1,
    'max_delta_step': 0,
    'subsample': 1,
    'colsample_bytree': 1,
    'colsample_bylevel': 1,
    'reg_alpha': 0,
    'reg_lambda': 1,
    'scale_pos_weight': 1,
    'base_score': 0.5,
    'missing': None,
    'silent': True,
    'nthread': 4,
    'seed': 42
}

num_round = 10
xgboost.cv(param, train_data, num_boost_round=num_round, metrics=['mlogloss'], feval=ndcg5_score)