In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

%matplotlib inline

In [3]:
train_users = pd.read_csv('train_users_2.csv')
test_users = pd.read_csv('test_users.csv')
sessions = pd.read_csv('sessions.csv')

In [11]:
train_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213451 entries, 0 to 213450
Data columns (total 16 columns):
id                         213451 non-null object
date_account_created       213451 non-null object
timestamp_first_active     213451 non-null int64
date_first_booking         88908 non-null object
gender                     213451 non-null object
age                        125461 non-null float64
signup_method              213451 non-null object
signup_flow                213451 non-null int64
language                   213451 non-null object
affiliate_channel          213451 non-null object
affiliate_provider         213451 non-null object
first_affiliate_tracked    207386 non-null object
signup_app                 213451 non-null object
first_device_type          213451 non-null object
first_browser              213451 non-null object
country_destination        213451 non-null object
dtypes: float64(1), int64(2), object(13)
memory usage: 26.1+ MB

In [7]:
test_users[test_users['id']=='6c6puo6ix0']

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser
3,6c6puo6ix0,2014-07-01,20140701000215,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,IE

In [5]:
sessions[sessions['user_id']=='6c6puo6ix0']

,user_id,action,action_type,action_detail,device_type,secs_elapsed
5555365,6c6puo6ix0,personalize,data,wishlist_content_update,Windows Desktop,106481.0
5555366,6c6puo6ix0,header_userpic,data,header_userpic,Windows Desktop,236.0
5555367,6c6puo6ix0,header_userpic,data,header_userpic,Windows Desktop,231.0
5555368,6c6puo6ix0,show,view,p3,Windows Desktop,5.0
5555369,6c6puo6ix0,index,view,view_search_results,Windows Desktop,1372.0
5555370,6c6puo6ix0,similar_listings_v2,NaN,NaN,Windows Desktop,154.0
5555371,6c6puo6ix0,personalize,data,wishlist_content_update,Windows Desktop,7.0
5555372,6c6puo6ix0,ajax_refresh_subtotal,click,change_trip_characteristics,Windows Desktop,1091.0
5555373,6c6puo6ix0,create,submit,create_user,Windows Desktop,NaN
5555374,6c6puo6ix0,show,NaN,NaN,Windows Desktop,13414.0
5555375,6c6puo6ix0,personalize,data,wishlist_content_update,Windows Desktop,10.0

In [3]:
train_users.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,2010-06-28,20090319043255,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,2011-05-25,20090523174809,NaN,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,2010-09-28,20090609231247,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,2011-12-05,20091031060129,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,87mebub9p4,2010-09-14,20091208061105,2010-02-18,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US

In [4]:
users = pd.concat((train_users, test_users), axis=0, ignore_index=True)
users.set_index('id',inplace=True)
users.head()

C:\Users\Asyariati\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,affiliate_channel,affiliate_provider,age,country_destination,date_account_created,date_first_booking,first_affiliate_tracked,first_browser,first_device_type,gender,language,signup_app,signup_flow,signup_method,timestamp_first_active
id,,,,,,,,,,,,,,,
gxn3p5htnn,direct,direct,NaN,NDF,2010-06-28,NaN,untracked,Chrome,Mac Desktop,-unknown-,en,Web,0,facebook,20090319043255
820tgsjxq7,seo,google,38.0,NDF,2011-05-25,NaN,untracked,Chrome,Mac Desktop,MALE,en,Web,0,facebook,20090523174809
4ft3gnwmtx,direct,direct,56.0,US,2010-09-28,2010-08-02,untracked,IE,Windows Desktop,FEMALE,en,Web,3,basic,20090609231247
bjjt8pjhuk,direct,direct,42.0,other,2011-12-05,2012-09-08,untracked,Firefox,Mac Desktop,FEMALE,en,Web,0,facebook,20091031060129
87mebub9p4,direct,direct,41.0,US,2010-09-14,2010-02-18,untracked,Chrome,Mac Desktop,-unknown-,en,Web,0,basic,20091208061105

In [5]:
users.drop('date_first_booking',axis=1,inplace=True)
#drop it because test set does't have it

In [6]:
sessions.head()

,user_id,action,action_type,action_detail,device_type,secs_elapsed
0,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,319.0
1,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753.0
2,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,301.0
3,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,22141.0
4,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,435.0

In [7]:
users['gender'].unique()

array(['-unknown-', 'MALE', 'FEMALE', 'OTHER'], dtype=object)

Usually the missing data comes in the way of *NaN*, but in the data above above we can see that the `gender` column some values being `-unknown-`. We transformed those values into *NaN* first and then summarised the percentage of unknowns in each field.

In [8]:
users['gender'].replace('-unknown-', np.nan, inplace=True)
users['first_browser'].replace('-unknown-', np.nan, inplace=True)

In [9]:
users_nan = (users.isnull().sum() / users.shape[0]) * 100
users_nan[users_nan > 0].drop('country_destination')

age                        42.412365
first_affiliate_tracked     2.208335
first_browser              16.111226
gender                     46.990169
dtype: float64

In [10]:
users['age'].describe()

count    158681.000000
mean         47.145310
std         142.629468
min           1.000000
25%          28.000000
50%          33.000000
75%          42.000000
max        2014.000000
Name: age, dtype: float64

see above 85 and below 18

In [11]:
print('Users with age greater than 100 : ' + str(sum(users.age > 100)))
print('Users with age less than 18 : ' + str(sum(users.age < 18)))

Users with age greater than 100 : 2690
Users with age less than 18 : 188

Looking at the data with age more than 85 we can see that these seem to be year values . So these are possibly user entry errors which the system didnt validate.

In [12]:
users[users['age'] > 100]['age'].describe()

count    2690.000000
mean      690.957249
std       877.927570
min       101.000000
25%       105.000000
50%       105.000000
75%      2014.000000
max      2014.000000
Name: age, dtype: float64

The values below 18 summarized below also seem to be user entry errors which needs to be corrected . We have set these values to Nan so that they dont adversely affect our models.

In [13]:
users[users['age'] < 18]['age'].describe()

count    188.000000
mean      12.718085
std        5.764569
min        1.000000
25%        5.000000
50%       16.000000
75%       17.000000
max       17.000000
Name: age, dtype: float64

In [14]:
user_with_year_age_mask = users['age'] > 1000
users.loc[user_with_year_age_mask, 'age'] = 2015 - users.loc[user_with_year_age_mask, 'age']

In [15]:
users.loc[(users['age'] > 100) | (users['age'] < 18), 'age'] = -1

In [16]:
users['age'].fillna(-1, inplace=True)

##### Convert to the right data type

Categorical Data:
   - affiliate_channel
   - affiliate_provider
   - country_destination
   - first_affiliate_tracked
   - first_browser
   - first_device_type
   - gender
   - language
   - signup_app
   - signup_method

Date :
   - date_account_created
   - date_first_booking
   - date_first_active

In [17]:
categorical_features = [
    'affiliate_channel',
    'affiliate_provider',
    'country_destination',
    'first_affiliate_tracked',
    'first_browser',
    'first_device_type',
    'gender',
    'language',
    'signup_app',
    'signup_method'
]

for categorical_feature in categorical_features:
    users[categorical_feature] = users[categorical_feature].astype('category')

In [18]:
users['date_account_created'] = pd.to_datetime(users['date_account_created'])
users['date_first_active'] = pd.to_datetime(users['timestamp_first_active'], format='%Y%m%d%H%M%S')

We further explore the month dependency by plotting the month of booking vs country destinations. We can see from the plot below that inaddition to the variations in the total number of bookings by month we also see a variations in the destination that was booked.
For example from the plot below Australia has significantly higher bookings in months 11 and 12 (November and December) compared to other months.

### Preprocessing

#### Age
In the data exploration we already noted that the Age was key feature for predicting destinations. We are also aware of the outiers ie values greater than 85 and less than 18 . In this step we clean the outliers so that they dont adversely affect our model. 

Also , Age is really fine grained. We are going to make bins and fit each user in the proper age group so that we can predict it in categories. Below is a plot of the numbers of users in each Age group . Group 0 is largest which represents the users with no age data.

In [19]:
bins = [-1, 20, 25, 30, 40, 50, 60, 75, 100]
users['age_group'] = np.digitize(users['age'], bins, right=True)

#### Date

In [20]:
users['date_account_created'] = pd.to_datetime(users['date_account_created'])
users['date_first_active'] = pd.to_datetime(users['timestamp_first_active'], format='%Y%m%d%H%M%S')

In [21]:
date_account_created = pd.DatetimeIndex(users['date_account_created'])
date_first_active = pd.DatetimeIndex(users['date_first_active'])

In [22]:
users['day_account_created'] = date_account_created.day
users['weekday_account_created'] = date_account_created.weekday
users['week_account_created'] = date_account_created.week
users['month_account_created'] = date_account_created.month
users['year_account_created'] = date_account_created.year
users['hours_account_created'] = date_account_created.hour

users['day_first_active'] = date_first_active.day
users['weekday_first_active'] = date_first_active.weekday
users['week_first_active'] = date_first_active.week
users['month_first_active'] = date_first_active.month
users['year_first_active'] = date_first_active.year
users['hours_first_active'] = date_first_active.hour

In [23]:
users['time_lag'] =(date_account_created - date_first_active).days

In [24]:
drop_list = ['date_account_created','date_first_active'
             ,'timestamp_first_active','age']

users.drop(drop_list, axis=1, inplace=True)

#### Session

In [25]:
sessions.rename(columns = {'user_id': 'id'}, inplace=True)

In [26]:
action_count = sessions.groupby(['id'])['action'].nunique()

action_type_count = sessions.groupby(['id', 'action_type'])['secs_elapsed'].agg(len).unstack()
action_type_count.columns = action_type_count.columns.map(lambda x: str(x) + '_count')
action_type_sum = sessions.groupby(['id', 'action_type'])['secs_elapsed'].agg(sum)

action_type_pcts = action_type_sum.groupby(level=0).apply(lambda x:100 * x / float(x.sum())).unstack()
action_type_pcts.columns = action_type_pcts.columns.map(lambda x: str(x) + '_pct')

action_type_sum = action_type_sum.unstack()
action_type_sum.columns = action_type_sum.columns.map(lambda x: str(x) + '_sum')
action_detail_count = sessions.groupby(['id'])['action_detail'].nunique()


device_type_sum = sessions.groupby(['id'])['device_type'].nunique()


sessions_data = pd.concat([action_count, action_type_count, action_type_sum,action_type_pcts,action_detail_count, device_type_sum],axis=1)
del action_count, action_type_count, action_detail_count, device_type_sum

C:\Users\Asyariati\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [27]:
sessions_data['most_used_device'] = sessions.groupby('id')['device_type'].max()

In [28]:
sessions_data.head()

,action,-unknown-_count,booking_request_count,booking_response_count,click_count,data_count,message_post_count,modify_count,partner_callback_count,submit_count,...,click_pct,data_pct,message_post_pct,modify_pct,partner_callback_pct,submit_pct,view_pct,action_detail,device_type,most_used_device
00023iyk9l,13,NaN,1.0,NaN,4.0,9.0,1.0,NaN,1.0,NaN,...,68.136816,0.812417,14.974525,NaN,0.0,NaN,16.076242,13,2,iPhone
0010k6l0om,11,5.0,NaN,NaN,16.0,9.0,NaN,NaN,1.0,NaN,...,11.265926,23.272848,NaN,NaN,0.0,NaN,44.445355,8,1,Mac Desktop
001wyh0pz8,10,6.0,NaN,NaN,66.0,2.0,NaN,NaN,NaN,3.0,...,57.131344,0.557656,NaN,NaN,NaN,18.314871,16.015888,9,1,Android App Unknown Phone/Tablet
0028jgx1x1,5,1.0,NaN,NaN,9.0,5.0,NaN,NaN,NaN,1.0,...,67.271136,2.896535,NaN,NaN,NaN,0.000000,29.667688,6,2,Android Phone
002qnbzfs5,25,184.0,1.0,NaN,140.0,140.0,16.0,NaN,NaN,15.0,...,16.542727,7.541525,8.350274,NaN,NaN,39.480300,7.310454,22,2,iPhone

In [29]:
sessions_data.index.names = ['id']
sessions_data.reset_index(inplace=True)

In [30]:
secs_elapsed = sessions.groupby('id')['secs_elapsed']

secs_elapsed = secs_elapsed.agg(
    {
        'secs_elapsed_sum': np.sum,
        'secs_elapsed_mean': np.mean,
        'secs_elapsed_min': np.min,
        'secs_elapsed_max': np.max,
        'secs_elapsed_median': np.median,
        'secs_elapsed_std': np.std,
        'secs_elapsed_var': np.var,
        'day_pauses': lambda x: (x > 86400).sum(),
        'long_pauses': lambda x: (x > 300000).sum(),
        'short_pauses': lambda x: (x < 3600).sum(),
        'session_length' : np.count_nonzero})

C:\Users\Asyariati\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  from ipykernel import kernelapp as app

In [31]:
secs_elapsed.reset_index(inplace=True)
sessions_secs_elapsed = pd.merge(sessions_data, secs_elapsed, on='id', how='left')

In [32]:
sessions_secs_elapsed.head()

,id,action,-unknown-_count,booking_request_count,booking_response_count,click_count,data_count,message_post_count,modify_count,partner_callback_count,...,secs_elapsed_mean,secs_elapsed_min,secs_elapsed_max,secs_elapsed_median,secs_elapsed_std,secs_elapsed_var,day_pauses,long_pauses,short_pauses,session_length
0,00023iyk9l,13,NaN,1.0,NaN,4.0,9.0,1.0,NaN,1.0,...,22253.743590,0.0,567165.0,850.0,92242.561900,8.508690e+09,2.0,1.0,29.0,39.0
1,0010k6l0om,11,5.0,NaN,NaN,16.0,9.0,NaN,NaN,1.0,...,9460.370968,3.0,127898.0,948.5,22751.227918,5.176184e+08,2.0,0.0,46.0,63.0
2,001wyh0pz8,10,6.0,NaN,NaN,66.0,2.0,NaN,NaN,NaN,...,3179.382022,35.0,50548.0,1105.0,6569.648182,4.316028e+07,0.0,0.0,71.0,90.0
3,0028jgx1x1,5,1.0,NaN,NaN,9.0,5.0,NaN,NaN,NaN,...,9900.333333,3.0,84636.0,1614.0,18004.964337,3.241787e+08,0.0,0.0,17.0,31.0
4,002qnbzfs5,25,184.0,1.0,NaN,140.0,140.0,16.0,NaN,NaN,...,8232.335025,0.0,1418284.0,498.0,58110.646170,3.376847e+09,13.0,3.0,602.0,787.0

In [33]:
users.head()

,affiliate_channel,affiliate_provider,country_destination,first_affiliate_tracked,first_browser,first_device_type,gender,language,signup_app,signup_flow,...,month_account_created,year_account_created,hours_account_created,day_first_active,weekday_first_active,week_first_active,month_first_active,year_first_active,hours_first_active,time_lag
id,,,,,,,,,,,,,,,,,,,,,
gxn3p5htnn,direct,direct,NDF,untracked,Chrome,Mac Desktop,NaN,en,Web,0,...,6,2010,0,19,3,12,3,2009,4,465
820tgsjxq7,seo,google,NDF,untracked,Chrome,Mac Desktop,MALE,en,Web,0,...,5,2011,0,23,5,21,5,2009,17,731
4ft3gnwmtx,direct,direct,US,untracked,IE,Windows Desktop,FEMALE,en,Web,3,...,9,2010,0,9,1,24,6,2009,23,475
bjjt8pjhuk,direct,direct,other,untracked,Firefox,Mac Desktop,FEMALE,en,Web,0,...,12,2011,0,31,5,44,10,2009,6,764
87mebub9p4,direct,direct,US,untracked,Chrome,Mac Desktop,NaN,en,Web,0,...,9,2010,0,8,1,50,12,2009,6,279

In [34]:
users=pd.merge(users, sessions_secs_elapsed, on='id', how = 'left')

In [35]:
users.head()

,id,affiliate_channel,affiliate_provider,country_destination,first_affiliate_tracked,first_browser,first_device_type,gender,language,signup_app,...,secs_elapsed_mean,secs_elapsed_min,secs_elapsed_max,secs_elapsed_median,secs_elapsed_std,secs_elapsed_var,day_pauses,long_pauses,short_pauses,session_length
0,gxn3p5htnn,direct,direct,NDF,untracked,Chrome,Mac Desktop,NaN,en,Web,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,820tgsjxq7,seo,google,NDF,untracked,Chrome,Mac Desktop,MALE,en,Web,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4ft3gnwmtx,direct,direct,US,untracked,IE,Windows Desktop,FEMALE,en,Web,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,bjjt8pjhuk,direct,direct,other,untracked,Firefox,Mac Desktop,FEMALE,en,Web,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,87mebub9p4,direct,direct,US,untracked,Chrome,Mac Desktop,NaN,en,Web,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 275547 entries, 0 to 275546
Data columns (total 71 columns):
id                         275547 non-null object
affiliate_channel          275547 non-null category
affiliate_provider         275547 non-null category
country_destination        213451 non-null category
first_affiliate_tracked    269462 non-null category
first_browser              231153 non-null category
first_device_type          275547 non-null category
gender                     146067 non-null category
language                   275547 non-null category
signup_app                 275547 non-null category
signup_flow                275547 non-null int64
signup_method              275547 non-null category
age_group                  275547 non-null int64
day_account_created        275547 non-null int64
weekday_account_created    275547 non-null int64
week_account_created       275547 non-null int64
month_account_created      275547 non-null int64
year_account_created       275547 non-null int64
hours_account_created      275547 non-null int64
day_first_active           275547 non-null int64
weekday_first_active       275547 non-null int64
week_first_active          275547 non-null int64
month_first_active         275547 non-null int64
year_first_active          275547 non-null int64
hours_first_active         275547 non-null int64
time_lag                   275547 non-null int64
action                     135483 non-null float64
-unknown-_count            108415 non-null float64
booking_request_count      17495 non-null float64
booking_response_count     4 non-null float64
click_count                112420 non-null float64
data_count                 125510 non-null float64
message_post_count         43834 non-null float64
modify_count               450 non-null float64
partner_callback_count     14428 non-null float64
submit_count               125538 non-null float64
view_count                 123270 non-null float64
-unknown-_sum              108415 non-null float64
booking_request_sum        17495 non-null float64
booking_response_sum       4 non-null float64
click_sum                  112420 non-null float64
data_sum                   125510 non-null float64
message_post_sum           43834 non-null float64
modify_sum                 450 non-null float64
partner_callback_sum       14428 non-null float64
submit_sum                 125538 non-null float64
view_sum                   123270 non-null float64
-unknown-_pct              108303 non-null float64
booking_request_pct        17418 non-null float64
booking_response_pct       4 non-null float64
click_pct                  112255 non-null float64
data_pct                   125482 non-null float64
message_post_pct           43453 non-null float64
modify_pct                 450 non-null float64
partner_callback_pct       14393 non-null float64
submit_pct                 124880 non-null float64
view_pct                   123193 non-null float64
action_detail              135483 non-null float64
device_type                135483 non-null float64
most_used_device           135483 non-null object
secs_elapsed_sum           135483 non-null float64
secs_elapsed_mean          134057 non-null float64
secs_elapsed_min           134057 non-null float64
secs_elapsed_max           134057 non-null float64
secs_elapsed_median        134057 non-null float64
secs_elapsed_std           130796 non-null float64
secs_elapsed_var           130796 non-null float64
day_pauses                 135483 non-null float64
long_pauses                135483 non-null float64
short_pauses               135483 non-null float64
session_length             135483 non-null float64
dtypes: category(10), float64(44), int64(15), object(2)
memory usage: 133.0+ MB

### Encode categorical features

In [37]:
categorical_features = [
    'gender', 'signup_method', 'signup_flow', 'language',
    'affiliate_channel', 'affiliate_provider', 'first_affiliate_tracked',
    'signup_app', 'first_device_type', 'first_browser', 'most_used_device'
]
users = pd.get_dummies(users, columns=categorical_features,drop_first=True)

from sklearn.preprocessing import LabelEncoder
categorical_features = ['gender', 'signup_method', 'signup_flow', 'language','affiliate_channel', 'age_group',
                        'weekday_account_created','month_account_created','day_account_created','week_account_created',
                        'hours_account_created','day_first_active','weekday_first_active','month_first_active',
                        'week_first_active','year_first_active','hours_first_active','signup_app',
                        'affiliate_provider', 'first_affiliate_tracked','first_device_type', 'first_browser']

users_sc = users.copy(deep=True)
encode = LabelEncoder()
for j in categorical_features:
    users_sc[j] = encode.fit_transform(users[j].astype('str'))

In [38]:
users.to_csv('data_preprocessed.csv')

In [39]:
users.head()

,id,country_destination,age_group,day_account_created,weekday_account_created,week_account_created,month_account_created,year_account_created,hours_account_created,day_first_active,...,most_used_device_Chromebook,most_used_device_Linux Desktop,most_used_device_Mac Desktop,most_used_device_Opera Phone,most_used_device_Tablet,most_used_device_Windows Desktop,most_used_device_Windows Phone,most_used_device_iPad Tablet,most_used_device_iPhone,most_used_device_iPodtouch
0,gxn3p5htnn,NDF,0,28,0,26,6,2010,0,19,...,0,0,0,0,0,0,0,0,0,0
1,820tgsjxq7,NDF,4,25,2,21,5,2011,0,23,...,0,0,0,0,0,0,0,0,0,0
2,4ft3gnwmtx,US,6,28,1,39,9,2010,0,9,...,0,0,0,0,0,0,0,0,0,0
3,bjjt8pjhuk,other,5,5,0,49,12,2011,0,31,...,0,0,0,0,0,0,0,0,0,0
4,87mebub9p4,US,5,14,1,37,9,2010,0,8,...,0,0,0,0,0,0,0,0,0,0

### Feature Selection
__VarianceThreshold__ is a simple baseline approach to feature selection. It removes all features whose variance doesn’t meet some threshold. By default, it removes all zero-variance features, i.e. features that have the same value in all samples.
As an example, suppose that we have a dataset with boolean features, and we want to remove all features that are either one or zero (on or off) in more than 80% of the samples. 

These features which are common for more than 80 % of the data dont necessarily capture all the avriations in the data and will not be good predictors . So we eliminate the variables with low threshold and arrived at a final list of features which are listed below.

Below is the final list of features which used to build our models.

In [ ]:
colx = users.columns.tolist()
rm_list = ['id','country_destination']
for x in rm_list:
    colx.remove(x)
X = users[~(users['country_destination'].isnull())][colx]
X.fillna(0,inplace=True)

from sklearn.feature_selection import VarianceThreshold
sel = VarianceThreshold(threshold=(0.8))
sel.fit_transform(X)
idxs = sel.get_support(indices=True)
colo = [X.columns.tolist()[i] for i in idxs]
print ('\n'.join(colo))
for y in rm_list:
    colo.append(y)

In [ ]:
len(colo)

There are 50 column that has above 80% variance

In [42]:
categorical_features_1 = [val for val in categorical_features if val in colo]
users_encode = pd.get_dummies(users[colo], columns=categorical_features_1)
users_encode.to_csv('users_data_feature.csv')

In [43]:
users_encode.head()

,age_group,day_account_created,weekday_account_created,week_account_created,month_account_created,year_account_created,day_first_active,weekday_first_active,week_first_active,month_first_active,...,secs_elapsed_max,secs_elapsed_median,secs_elapsed_std,secs_elapsed_var,day_pauses,long_pauses,short_pauses,session_length,id,country_destination
0,0,28,0,26,6,2010,19,3,12,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gxn3p5htnn,NDF
1,4,25,2,21,5,2011,23,5,21,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,820tgsjxq7,NDF
2,6,28,1,39,9,2010,9,1,24,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4ft3gnwmtx,US
3,5,5,0,49,12,2011,31,5,44,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bjjt8pjhuk,other
4,5,14,1,37,9,2010,8,1,50,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87mebub9p4,US

### Model Building

In [44]:
users = users_encode
users.set_index('id',inplace=True)

In [45]:
from sklearn.model_selection import train_test_split

colx = users.columns.tolist()

rm_list = ['country_destination']

for x in rm_list:
    colx.remove(x)
    
X_1 = users[(users['country_destination'].isnull())][colx]
X_1.fillna(0,inplace=True)

X = users[~(users['country_destination'].isnull())][colx]
X.fillna(0,inplace=True)

Y = users[~(users['country_destination'].isnull())]['country_destination']

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42,stratify=Y)

In [46]:
X_train.head()

,age_group,day_account_created,weekday_account_created,week_account_created,month_account_created,year_account_created,day_first_active,weekday_first_active,week_first_active,month_first_active,...,secs_elapsed_mean,secs_elapsed_min,secs_elapsed_max,secs_elapsed_median,secs_elapsed_std,secs_elapsed_var,day_pauses,long_pauses,short_pauses,session_length
id,,,,,,,,,,,,,,,,,,,,,
93nvi68rdl,4,14,4,7,2,2014,14,4,7,2,...,20704.428571,6.0,242607.0,4010.5,38234.884462,1.461906e+09,2.0,0.0,28.0,57.0
cddglyavhs,4,4,4,40,10,2013,4,4,40,10,...,0.000000,0.0,0.0,0.0,0.000000,0.000000e+00,0.0,0.0,0.0,0.0
l796vt2san,4,12,3,50,12,2013,12,3,50,12,...,0.000000,0.0,0.0,0.0,0.000000,0.000000e+00,0.0,0.0,0.0,0.0
o523j6oc71,7,29,4,43,10,2010,29,4,43,10,...,0.000000,0.0,0.0,0.0,0.000000,0.000000e+00,0.0,0.0,0.0,0.0
j0dfrdbydz,4,27,2,30,7,2011,27,2,30,7,...,0.000000,0.0,0.0,0.0,0.000000,0.000000e+00,0.0,0.0,0.0,0.0

### Logistic Regression

In [47]:
from sklearn.linear_model import LogisticRegression
logr = LogisticRegression()
logr.fit(X_train, y_train)

C:\Users\Asyariati\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Asyariati\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\Asyariati\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

### Gaussian Naive Bayes

In [48]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()
gnb.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

## SVM Linear

In [ ]:
from sklearn.svm import LinearSVC
svc = LinearSVC(random_state=42)
svc.fit(X_train, y_train)

## Decision Tree

In [ ]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)

In [ ]:
feature_imp = pd.DataFrame(sorted(zip(map(lambda x: round(x, 4), dt.feature_importances_), X.columns.tolist()), reverse=True))
feature_imp.columns = ['value','feature']
feature_imp.set_index('feature',inplace=True)
feature_imp.head(10)

In [ ]:
feature_imp.head(10).plot(kind='barh')

## Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=64,n_jobs=-1)
clf.fit(X_train, y_train)

In [ ]:
feature_imp = pd.DataFrame(sorted(zip(map(lambda x: round(x, 4), clf.feature_importances_), X.columns.tolist()), reverse=True))
feature_imp.columns = ['value','feature']
feature_imp.set_index('feature',inplace=True)
feature_imp.head(10)

In [ ]:
feature_imp.head(10).plot(kind='barh')

## Gradient Boost

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

gbs=GradientBoostingClassifier()
gbs.fit(X_train, y_train)

In [ ]:
feature_imp = pd.DataFrame(sorted(zip(map(lambda x: round(x, 4), gbs.feature_importances_), X.columns.tolist()), reverse=True))
feature_imp.columns = ['value','feature']
feature_imp.set_index('feature',inplace=True)
feature_imp.head(10)

In [ ]:
feature_imp.head(10).plot(kind='barh')

## XGBoost

In [ ]:
from xgboost.sklearn import XGBClassifier

xgb=XGBClassifier(n_jobs=-1)
xgb.fit(X_train, y_train)

In [ ]:
feature_imp = pd.DataFrame(sorted(zip(map(lambda x: round(x, 4), xgb.feature_importances_), X.columns.tolist()), reverse=True))
feature_imp.columns = ['value','feature']
feature_imp.set_index('feature',inplace=True)
feature_imp.head(10)

In [ ]:
feature_imp.head(10).plot(kind='barh')

### LightGBM

In [ ]:
from lightgbm import LGBMClassifier

lgbm=LGBMClassifier()
lgbm.fit(X_train,y_train)

In [ ]:
feature_imp = pd.DataFrame(sorted(zip(map(lambda x: round(x, 4), lgbm.feature_importances_), X.columns.tolist()), reverse=True))
feature_imp.columns = ['value','feature']
feature_imp.set_index('feature',inplace=True)
feature_imp.head(10)

In [ ]:
feature_imp.head(10).plot(kind='barh')

## 5. Results

In [ ]:
from sklearn.preprocessing import LabelBinarizer
from sklearn.metrics import make_scorer


def dcg_score(y_true, y_score, k=5):
    order = np.argsort(y_score)[::-1]
    y_true = np.take(y_true, order[:k])
    gain = 2 ** y_true - 1
    discounts = np.log2(np.arange(len(y_true)) + 2)
    return np.sum(gain / discounts)


def ndcg_score(ground_truth, predictions, k=5):
    lb = LabelBinarizer()
    lb.fit(range(predictions.shape[1]+ 1))
    T = lb.transform(ground_truth)

    scores = []
    for y_true, y_score in zip(T, predictions):
        actual = dcg_score(y_true, y_score, k)
        best = dcg_score(y_true, y_true, k)
        score = float(actual) / float(best)
        scores.append(score)

    return np.mean(scores)

model_perf={}

### Logistic Regression - OVR

In [ ]:
y_pred_logr=logr.predict(X_test)
pd.crosstab(y_test, y_pred_logr, rownames=['Actual Destination'], colnames=['Predicted Destination'])

In [ ]:
from sklearn.metrics import accuracy_score

print ('Accuracy:' + str(accuracy_score(y_test, y_pred_logr)))
model_perf['logr','Accuracy'] = accuracy_score(y_test, y_pred_logr)

In [ ]:
logr.classes_.tolist()

In [ ]:
y_conv = [logr.classes_.tolist().index(k) for k in y_test.tolist()] 
y_pred_prob_logr=logr.predict_proba(X_test)
print('logr:' + str(ndcg_score(y_conv,y_pred_prob_logr)))
ndcg_score(y_conv,y_pred_prob_logr)
model_perf['logr','nDCG'] = ndcg_score(y_conv,y_pred_prob_logr)

### Naive Bayes

In [ ]:
y_pred_nb=gnb.predict(X_test)
pd.crosstab(y_test, y_pred_nb, rownames=['Actual Destination'], colnames=['Predicted Destination'])

In [ ]:
print ('Accuracy:' + str(accuracy_score(y_test, y_pred_nb)))
model_perf['GNB','Accuracy'] = accuracy_score(y_test, y_pred_nb)

In [ ]:
y_conv = [gnb.classes_.tolist().index(k) for k in y_test.tolist()]
y_pred_prob_gnb=gnb.predict_proba(X_test)
print('GNB:' + str(ndcg_score(y_conv,y_pred_prob_gnb)))
ndcg_score(y_conv,y_pred_prob_gnb)
model_perf['GNB','nDCG'] = ndcg_score(y_conv,y_pred_prob_gnb)

### SVM Linear

In [ ]:
y_pred_svc=svc.predict(X_test)
pd.crosstab(y_test, y_pred_svc, rownames=['Actual Destination'], colnames=['Predicted Destination'])

In [ ]:
from sklearn.metrics import accuracy_score,confusion_matrix
print ('Accuracy:' + str(accuracy_score(y_test, y_pred_svc)))
model_perf['svc','Accuracy'] = accuracy_score(y_test, y_pred_svc)

### Decision Tree

In [ ]:
y_pred_dt=dt.predict(X_test)
pd.crosstab(y_test, y_pred_dt, rownames=['Actual Destination'], colnames=['Predicted Destination'])

In [ ]:
from sklearn.metrics import accuracy_score,confusion_matrix
print ('Accuracy:' + str(accuracy_score(y_test, y_pred_dt)))
model_perf['dt','Accuracy'] = accuracy_score(y_test, y_pred_dt)

In [ ]:
y_conv = [dt.classes_.tolist().index(k) for k in y_test.tolist()]
y_pred_prob_dt=dt.predict_proba(X_test)
print('nDCG:' + str(ndcg_score(y_conv,y_pred_prob_dt)))
ndcg_score(y_conv,y_pred_prob_dt)
model_perf['dt','nDCG'] = ndcg_score(y_conv,y_pred_prob_dt)

###  Random Forest

In [ ]:
y_pred=clf.predict(X_test)
pd.crosstab(y_test, y_pred, rownames=['Actual Destination'], colnames=['Predicted Destination'])

In [ ]:
from sklearn.metrics import accuracy_score,confusion_matrix
print ('Accuracy:' + str(accuracy_score(y_test, y_pred)))
model_perf['rf','Accuracy'] = accuracy_score(y_test, y_pred)

In [ ]:
y_conv = [clf.classes_.tolist().index(k) for k in y_test.tolist()]
y_pred_prob=clf.predict_proba(X_test)
print('nDCG:' + str(ndcg_score(y_conv,y_pred_prob)))
model_perf['rf','nDCG'] = ndcg_score(y_conv,y_pred_prob)

## Gradient Boosting

In [ ]:
y_pred=gbs.predict(X_test)
pd.crosstab(y_test, y_pred, rownames=['Actual Destination'], colnames=['Predicted Destination'])

In [ ]:
from sklearn.metrics import accuracy_score,confusion_matrix
print ('Accuracy:' + str(accuracy_score(y_test, y_pred)))
model_perf['rf','Accuracy'] = accuracy_score(y_test, y_pred)

In [ ]:
y_conv = [gbs.classes_.tolist().index(k) for k in y_test.tolist()]
y_pred_prob=gbs.predict_proba(X_test)
print('nDCG:' + str(ndcg_score(y_conv,y_pred_prob)))
model_perf['rf','nDCG'] = ndcg_score(y_conv,y_pred_prob)

## XGboost

In [ ]:
y_pred=xgb.predict(X_test)
pd.crosstab(y_test, y_pred, rownames=['Actual Destination'], colnames=['Predicted Destination'])

In [ ]:
from sklearn.metrics import accuracy_score,confusion_matrix
print ('Accuracy:' + str(accuracy_score(y_test, y_pred)))
model_perf['rf','Accuracy'] = accuracy_score(y_test, y_pred)

In [ ]:
y_conv = [xgb.classes_.tolist().index(k) for k in y_test.tolist()]
y_pred_prob=xgb.predict_proba(X_test)
print('nDCG:' + str(ndcg_score(y_conv,y_pred_prob)))
model_perf['rf','nDCG'] = ndcg_score(y_conv,y_pred_prob)

### Light GBM

In [ ]:
y_pred=lgbm.predict(X_test)
pd.crosstab(y_test, y_pred, rownames=['Actual Destination'], colnames=['Predicted Destination'])

In [ ]:
from sklearn.metrics import accuracy_score,confusion_matrix
print ('Accuracy:' + str(accuracy_score(y_test, y_pred)))
model_perf['lgbm','Accuracy'] = accuracy_score(y_test, y_pred)

In [ ]:
y_conv = [lgbm.classes_.tolist().index(k) for k in y_test.tolist()]
y_pred_prob=lgbm.predict_proba(X_test)
print('nDCG:' + str(ndcg_score(y_conv,y_pred_prob)))
model_perf['lgbm','nDCG'] = ndcg_score(y_conv,y_pred_prob)

### Predict for Test Dataset

In [ ]:
y_pred_prob_1=dt.predict_proba(X_1)
id_test = X_1.reset_index()['id']
ids = []  #list of ids
cts = []  #list of countries
for i in range(len(id_test)):
    idx = id_test[i]
    ids += [idx] * 5
    arr = [dt.classes_.tolist()[k] for k in np.argsort(y_pred_prob_1[i])[::-1]] 
    cts += arr[:5]

#Generate submission
sub = pd.DataFrame(np.column_stack((ids, cts)), columns=['id', 'country'])
sub.to_csv('sub_dt.csv',index=False)

In [ ]:
y_pred_prob_1=clf.predict_proba(X_1)
id_test = X_1.reset_index()['id']
ids = []  #list of ids
cts = []  #list of countries
for i in range(len(id_test)):
    idx = id_test[i]
    ids += [idx] * 5
    arr = [clf.classes_.tolist()[k] for k in np.argsort(y_pred_prob_1[i])[::-1]] 
    cts += arr[:5]

#Generate submission
sub = pd.DataFrame(np.column_stack((ids, cts)), columns=['id', 'country'])
sub.to_csv('sub_rf.csv',index=False)

In [ ]:
y_pred_prob_1=logr.predict_proba(X_1)
id_test = X_1.reset_index()['id']
ids = []  #list of ids
cts = []  #list of countries
for i in range(len(id_test)):
    idx = id_test[i]
    ids += [idx] * 5
    arr = [logr.classes_.tolist()[k] for k in np.argsort(y_pred_prob_1[i])[::-1]] 
    cts += arr[:5]

#Generate submission
sub = pd.DataFrame(np.column_stack((ids, cts)), columns=['id', 'country'])
sub.to_csv('sub_logr.csv',index=False)

In [ ]:
y_pred_prob_1=gnb.predict_proba(X_1)
id_test = X_1.reset_index()['id']
ids = []  #list of ids
cts = []  #list of countries
for i in range(len(id_test)):
    idx = id_test[i]
    ids += [idx] * 5
    arr = [gnb.classes_.tolist()[k] for k in np.argsort(y_pred_prob_1[i])[::-1]] 
    cts += arr[:5]

#Generate submission
sub = pd.DataFrame(np.column_stack((ids, cts)), columns=['id', 'country'])
sub.to_csv('sub_gnb.csv',index=False)

In [ ]:
y_pred_prob_1=gbs.predict_proba(X_1)
id_test = X_1.reset_index()['id']
ids = []  #list of ids
cts = []  #list of countries
for i in range(len(id_test)):
    idx = id_test[i]
    ids += [idx] * 5
    arr = [gbs.classes_.tolist()[k] for k in np.argsort(y_pred_prob_1[i])[::-1]] 
    cts += arr[:5]

#Generate submission
sub = pd.DataFrame(np.column_stack((ids, cts)), columns=['id', 'country'])
sub.to_csv('sub_gbs.csv',index=False)

In [ ]:
y_pred_prob_1=xgb.predict_proba(X_1)
id_test = X_1.reset_index()['id']
ids = []  #list of ids
cts = []  #list of countries
for i in range(len(id_test)):
    idx = id_test[i]
    ids += [idx] * 5
    arr = [xgb.classes_.tolist()[k] for k in np.argsort(y_pred_prob_1[i])[::-1]] 
    cts += arr[:5]

#Generate submission
sub = pd.DataFrame(np.column_stack((ids, cts)), columns=['id', 'country'])
sub.to_csv('sub_xgb.csv',index=False)

In [ ]:
y_pred_prob_1=lgbm.predict_proba(X_1)
id_test = X_1.reset_index()['id']
ids = []  #list of ids
cts = []  #list of countries
for i in range(len(id_test)):
    idx = id_test[i]
    ids += [idx] * 5
    arr = [lgbm.classes_.tolist()[k] for k in np.argsort(y_pred_prob_1[i])[::-1]] 
    cts += arr[:5]

#Generate submission
sub = pd.DataFrame(np.column_stack((ids, cts)), columns=['id', 'country'])
sub.to_csv('sub_lgbm.csv',index=False)

#### Sample Output

In [ ]:
sub.head(10)

In [ ]:
sub.set_index('id').loc['5uwns89zht','country'].values.tolist()

#### Summary Results

In [ ]:
model_perf